NeproWebApi/Connected Services/AXWebServiceRef1/Iace_FinishedGoodServiceGroup.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Iace_FinishedGoodServiceGroup" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_Iace_FinishedGoodService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://tempuri.org" location="http://amy-pc:8101/DynamicsAx/Services/Iace_FinishedGoodServiceGroup?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="NetTcpBinding_Iace_FinishedGoodService" type="i0:Iace_FinishedGoodService">
    <wsp:PolicyReference URI="#NetTcpBinding_Iace_FinishedGoodService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="InsertHistoryHeaderData">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/InsertHistoryHeaderData" style="document" />
      <wsdl:input name="Iace_FinishedGoodServiceInsertHistoryHeaderDataRequest">
        <soap12:header message="i0:Iace_FinishedGoodServiceInsertHistoryHeaderDataRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServiceInsertHistoryHeaderDataResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InsertTransferOrderLines">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/InsertTransferOrderLines" style="document" />
      <wsdl:input name="Iace_FinishedGoodServiceInsertTransferOrderLinesRequest">
        <soap12:header message="i0:Iace_FinishedGoodServiceInsertTransferOrderLinesRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServiceInsertTransferOrderLinesResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateTransferJournalHeader">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/CreateTransferJournalHeader" style="document" />
      <wsdl:input name="Iace_FinishedGoodServiceCreateTransferJournalHeaderRequest">
        <soap12:header message="i0:Iace_FinishedGoodServiceCreateTransferJournalHeaderRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServiceCreateTransferJournalHeaderResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InsertTransferHeader">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/InsertTransferHeader" style="document" />
      <wsdl:input name="Iace_FinishedGoodServiceInsertTransferHeaderRequest">
        <soap12:header message="i0:Iace_FinishedGoodServiceInsertTransferHeaderRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServiceInsertTransferHeaderResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InsertHistoryDetailData">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/InsertHistoryDetailData" style="document" />
      <wsdl:input name="Iace_FinishedGoodServiceInsertHistoryDetailDataRequest">
        <soap12:header message="i0:Iace_FinishedGoodServiceInsertHistoryDetailDataRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServiceInsertHistoryDetailDataResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PostPickingJournal">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/PostPickingJournal" style="document" />
      <wsdl:input name="Iace_FinishedGoodServicePostPickingJournalRequest">
        <soap12:header message="i0:Iace_FinishedGoodServicePostPickingJournalRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServicePostPickingJournalResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PostQCReject">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/PostQCReject" style="document" />
      <wsdl:input name="Iace_FinishedGoodServicePostQCRejectRequest">
        <soap12:header message="i0:Iace_FinishedGoodServicePostQCRejectRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServicePostQCRejectResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="QCRejectFGLine">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/QCRejectFGLine" style="document" />
      <wsdl:input name="Iace_FinishedGoodServiceQCRejectFGLineRequest">
        <soap12:header message="i0:Iace_FinishedGoodServiceQCRejectFGLineRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServiceQCRejectFGLineResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="QCRejectHeader">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/QCRejectHeader" style="document" />
      <wsdl:input name="Iace_FinishedGoodServiceQCRejectHeaderRequest">
        <soap12:header message="i0:Iace_FinishedGoodServiceQCRejectHeaderRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServiceQCRejectHeaderResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PostRouteJournal">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/PostRouteJournal" style="document" />
      <wsdl:input name="Iace_FinishedGoodServicePostRouteJournalRequest">
        <soap12:header message="i0:Iace_FinishedGoodServicePostRouteJournalRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServicePostRouteJournalResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PrintSticker">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/PrintSticker" style="document" />
      <wsdl:input name="Iace_FinishedGoodServicePrintStickerRequest">
        <soap12:header message="i0:Iace_FinishedGoodServicePrintStickerRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServicePrintStickerResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessRejectionRAF">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/ProcessRejectionRAF" style="document" />
      <wsdl:input name="Iace_FinishedGoodServiceProcessRejectionRAFRequest">
        <soap12:header message="i0:Iace_FinishedGoodServiceProcessRejectionRAFRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServiceProcessRejectionRAFResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InsertPickingData">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/InsertPickingData" style="document" />
      <wsdl:input name="Iace_FinishedGoodServiceInsertPickingDataRequest">
        <soap12:header message="i0:Iace_FinishedGoodServiceInsertPickingDataRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServiceInsertPickingDataResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="QCRejectLines">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/QCRejectLines" style="document" />
      <wsdl:input name="Iace_FinishedGoodServiceQCRejectLinesRequest">
        <soap12:header message="i0:Iace_FinishedGoodServiceQCRejectLinesRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServiceQCRejectLinesResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PostTransferJournal">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/PostTransferJournal" style="document" />
      <wsdl:input name="Iace_FinishedGoodServicePostTransferJournalRequest">
        <soap12:header message="i0:Iace_FinishedGoodServicePostTransferJournalRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServicePostTransferJournalResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="shipTransferOrder">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/shipTransferOrder" style="document" />
      <wsdl:input name="Iace_FinishedGoodServiceShipTransferOrderRequest">
        <soap12:header message="i0:Iace_FinishedGoodServiceShipTransferOrderRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServiceShipTransferOrderResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RegisterTransferOrder">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/RegisterTransferOrder" style="document" />
      <wsdl:input name="Iace_FinishedGoodServiceRegisterTransferOrderRequest">
        <soap12:header message="i0:Iace_FinishedGoodServiceRegisterTransferOrderRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServiceRegisterTransferOrderResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateStillageQty">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/UpdateStillageQty" style="document" />
      <wsdl:input name="Iace_FinishedGoodServiceUpdateStillageQtyRequest">
        <soap12:header message="i0:Iace_FinishedGoodServiceUpdateStillageQtyRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServiceUpdateStillageQtyResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateTransferStatus">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/UpdateTransferStatus" style="document" />
      <wsdl:input name="Iace_FinishedGoodServiceUpdateTransferStatusRequest">
        <soap12:header message="i0:Iace_FinishedGoodServiceUpdateTransferStatusRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServiceUpdateTransferStatusResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TransferOrderPickingList">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/TransferOrderPickingList" style="document" />
      <wsdl:input name="Iace_FinishedGoodServiceTransferOrderPickingListRequest">
        <soap12:header message="i0:Iace_FinishedGoodServiceTransferOrderPickingListRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServiceTransferOrderPickingListResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReportAsFinished">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/ReportAsFinished" style="document" />
      <wsdl:input name="Iace_FinishedGoodServiceReportAsFinishedRequest">
        <soap12:header message="i0:Iace_FinishedGoodServiceReportAsFinishedRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServiceReportAsFinishedResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="StartWorkOrder">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/StartWorkOrder" style="document" />
      <wsdl:input name="Iace_FinishedGoodServiceStartWorkOrderRequest">
        <soap12:header message="i0:Iace_FinishedGoodServiceStartWorkOrderRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServiceStartWorkOrderResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateQty">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/UpdateQty" style="document" />
      <wsdl:input name="Iace_FinishedGoodServiceUpdateQtyRequest">
        <soap12:header message="i0:Iace_FinishedGoodServiceUpdateQtyRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServiceUpdateQtyResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RecieveTransferOrder">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/RecieveTransferOrder" style="document" />
      <wsdl:input name="Iace_FinishedGoodServiceRecieveTransferOrderRequest">
        <soap12:header message="i0:Iace_FinishedGoodServiceRecieveTransferOrderRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServiceRecieveTransferOrderResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EndWorkOrder">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/EndWorkOrder" style="document" />
      <wsdl:input name="Iace_FinishedGoodServiceEndWorkOrderRequest">
        <soap12:header message="i0:Iace_FinishedGoodServiceEndWorkOrderRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServiceEndWorkOrderResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateRAF">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/CreateRAF" style="document" />
      <wsdl:input name="Iace_FinishedGoodServiceCreateRAFRequest">
        <soap12:header message="i0:Iace_FinishedGoodServiceCreateRAFRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServiceCreateRAFResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CompletePickingList">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/CompletePickingList" style="document" />
      <wsdl:input name="Iace_FinishedGoodServiceCompletePickingListRequest">
        <soap12:header message="i0:Iace_FinishedGoodServiceCompletePickingListRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServiceCompletePickingListResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreatePickingJournalDetailsFG">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/CreatePickingJournalDetailsFG" style="document" />
      <wsdl:input name="Iace_FinishedGoodServiceCreatePickingJournalDetailsFGRequest">
        <soap12:header message="i0:Iace_FinishedGoodServiceCreatePickingJournalDetailsFGRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServiceCreatePickingJournalDetailsFGResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreatePickingList">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/CreatePickingList" style="document" />
      <wsdl:input name="Iace_FinishedGoodServiceCreatePickingListRequest">
        <soap12:header message="i0:Iace_FinishedGoodServiceCreatePickingListRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServiceCreatePickingListResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateRouteJournalDetails">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/CreateRouteJournalDetails" style="document" />
      <wsdl:input name="Iace_FinishedGoodServiceCreateRouteJournalDetailsRequest">
        <soap12:header message="i0:Iace_FinishedGoodServiceCreateRouteJournalDetailsRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServiceCreateRouteJournalDetailsResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateSticker">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/CreateSticker" style="document" />
      <wsdl:input name="Iace_FinishedGoodServiceCreateStickerRequest">
        <soap12:header message="i0:Iace_FinishedGoodServiceCreateStickerRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServiceCreateStickerResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreatePickingJournalDetails">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/CreatePickingJournalDetails" style="document" />
      <wsdl:input name="Iace_FinishedGoodServiceCreatePickingJournalDetailsRequest">
        <soap12:header message="i0:Iace_FinishedGoodServiceCreatePickingJournalDetailsRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServiceCreatePickingJournalDetailsResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreatePickingJournalHeader">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/CreatePickingJournalHeader" style="document" />
      <wsdl:input name="Iace_FinishedGoodServiceCreatePickingJournalHeaderRequest">
        <soap12:header message="i0:Iace_FinishedGoodServiceCreatePickingJournalHeaderRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServiceCreatePickingJournalHeaderResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateMovement">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/CreateMovement" style="document" />
      <wsdl:input name="Iace_FinishedGoodServiceCreateMovementRequest">
        <soap12:header message="i0:Iace_FinishedGoodServiceCreateMovementRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServiceCreateMovementResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeletePickingData">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/DeletePickingData" style="document" />
      <wsdl:input name="Iace_FinishedGoodServiceDeletePickingDataRequest">
        <soap12:header message="i0:Iace_FinishedGoodServiceDeletePickingDataRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServiceDeletePickingDataResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateRouteJournalHeader">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/CreateRouteJournalHeader" style="document" />
      <wsdl:input name="Iace_FinishedGoodServiceCreateRouteJournalHeaderRequest">
        <soap12:header message="i0:Iace_FinishedGoodServiceCreateRouteJournalHeaderRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServiceCreateRouteJournalHeaderResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateStickerDetails">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/CreateStickerDetails" style="document" />
      <wsdl:input name="Iace_FinishedGoodServiceCreateStickerDetailsRequest">
        <soap12:header message="i0:Iace_FinishedGoodServiceCreateStickerDetailsRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServiceCreateStickerDetailsResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreatePackingSlip">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/CreatePackingSlip" style="document" />
      <wsdl:input name="Iace_FinishedGoodServiceCreatePackingSlipRequest">
        <soap12:header message="i0:Iace_FinishedGoodServiceCreatePackingSlipRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServiceCreatePackingSlipResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateTransferJournalLines">
      <soap12:operation soapAction="http://tempuri.org/Iace_FinishedGoodService/CreateTransferJournalLines" style="document" />
      <wsdl:input name="Iace_FinishedGoodServiceCreateTransferJournalLinesRequest">
        <soap12:header message="i0:Iace_FinishedGoodServiceCreateTransferJournalLinesRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Iace_FinishedGoodServiceCreateTransferJournalLinesResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Iace_FinishedGoodServiceGroup">
    <wsdl:port name="NetTcpBinding_Iace_FinishedGoodService" binding="tns:NetTcpBinding_Iace_FinishedGoodService">
      <soap12:address location="net.tcp://amy-pc:8201/DynamicsAx/Services/Iace_FinishedGoodServiceGroup" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://amy-pc:8201/DynamicsAx/Services/Iace_FinishedGoodServiceGroup</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>administrator@AMY.LOCAL</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>