NeproWebApi/Connected Services/AXWebServiceRef1/Iace_FinishedGoodServiceGroup3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Iace_FinishedGoodServiceInsertHistoryHeaderDataRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_StillageID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_siteid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_workorderid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_ItemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_WorkOrderQty" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceInsertHistoryHeaderDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceInsertTransferOrderLinesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_TransferId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_StillageId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceInsertTransferOrderLinesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceCreateTransferJournalHeaderRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_RequestId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_WebUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_stiker" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceCreateTransferJournalHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceInsertTransferHeaderRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_StillageId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_ToLocation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_WebUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_RequestedId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceInsertTransferHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceInsertHistoryDetailDataRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_StillageID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_PlanningId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Activity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_ActivityDesc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_StillageLocation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_ActualFLT" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_AssignFLT" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_ActualLocation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_AssignLocation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Reason" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_ReasonDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_ISRaf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_MergeQty" type="xs:decimal" />
        <xs:element minOccurs="0" name="_MergeFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_ReserverdQty" type="xs:decimal" />
        <xs:element minOccurs="0" name="_CountedQty" type="xs:decimal" />
        <xs:element minOccurs="0" name="_StillageQty" type="xs:decimal" />
        <xs:element minOccurs="0" name="_UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_StillageStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_RejectedQty" type="xs:decimal" />
        <xs:element minOccurs="0" name="_MergeTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_fromlocation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_tolocation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_warehouse" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_QtyAdjusted" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceInsertHistoryDetailDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServicePostPickingJournalRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_JournalId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServicePostPickingJournalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServicePostQCRejectRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_ProdJournalId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServicePostQCRejectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceQCRejectFGLineRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_journalid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceQCRejectFGLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceQCRejectHeaderRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_workorderid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_StillageID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_RejectionType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceQCRejectHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServicePostRouteJournalRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_JournalId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServicePostRouteJournalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServicePrintStickerRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_Stillageid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServicePrintStickerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceProcessRejectionRAFRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_prodid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Picking" type="xs:boolean" />
        <xs:element minOccurs="0" name="_Route" type="xs:boolean" />
        <xs:element minOccurs="0" name="_Shift" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Sticker" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_createdFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_EndmarkRoute" type="xs:boolean" />
        <xs:element minOccurs="0" name="_EndMarkPickingList" type="xs:boolean" />
        <xs:element minOccurs="0" name="_Qty" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceProcessRejectionRAFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceInsertPickingDataRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_salesid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_itemid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_qty" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceInsertPickingDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceQCRejectLinesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_journalid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_RejectionType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Qty" type="xs:decimal" />
        <xs:element minOccurs="0" name="_Reason" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Shift" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_ActualQty" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceQCRejectLinesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServicePostTransferJournalRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_JournalId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServicePostTransferJournalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceShipTransferOrderRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_TransferId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceShipTransferOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceRegisterTransferOrderRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_TransferId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_StillageId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceRegisterTransferOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceUpdateStillageQtyRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_Stillage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Qty" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceUpdateStillageQtyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceUpdateTransferStatusRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_Stillage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_InventTransferId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceUpdateTransferStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceTransferOrderPickingListRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_TransferId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceTransferOrderPickingListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceReportAsFinishedRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_prodid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Picking" type="xs:boolean" />
        <xs:element minOccurs="0" name="_Route" type="xs:boolean" />
        <xs:element minOccurs="0" name="_Shift" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Sticker" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_createdFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_EndmarkRoute" type="xs:boolean" />
        <xs:element minOccurs="0" name="_EndMarkPickingList" type="xs:boolean" />
        <xs:element minOccurs="0" name="_endjob" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceReportAsFinishedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceStartWorkOrderRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_ProdId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Picking" type="xs:boolean" />
        <xs:element minOccurs="0" name="_Route" type="xs:boolean" />
        <xs:element minOccurs="0" name="_Qty" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceStartWorkOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceUpdateQtyRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_prodid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Picking" type="xs:boolean" />
        <xs:element minOccurs="0" name="_Route" type="xs:boolean" />
        <xs:element minOccurs="0" name="_Shift" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Sticker" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_createdFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_qty" type="xs:decimal" />
        <xs:element minOccurs="0" name="_variance" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceUpdateQtyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceRecieveTransferOrderRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_TransferId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_StillageId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceRecieveTransferOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceEndWorkOrderRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_ProdId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceEndWorkOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceCreateRAFRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_prodid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Picking" type="xs:boolean" />
        <xs:element minOccurs="0" name="_Route" type="xs:boolean" />
        <xs:element minOccurs="0" name="_Shift" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Sticker" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_qty" type="xs:decimal" />
        <xs:element minOccurs="0" name="_createdFrom" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceCreateRAFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceCompletePickingListRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_RouteID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceCompletePickingListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceCreatePickingJournalDetailsFGRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_journalid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceCreatePickingJournalDetailsFGResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceCreatePickingListRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSalesTable" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceCreatePickingListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceCreateRouteJournalDetailsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_journalid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_OprNum" type="xs:int" />
        <xs:element minOccurs="0" name="_Priority" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Qty" type="xs:decimal" />
        <xs:element minOccurs="0" name="_hours" type="xs:decimal" />
        <xs:element minOccurs="0" name="_Shift" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceCreateRouteJournalDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceCreateStickerRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_zoneid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_workorderId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_qty" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceCreateStickerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceCreatePickingJournalDetailsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_journalid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_ItemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Qty" type="xs:decimal" />
        <xs:element minOccurs="0" name="_Shift" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceCreatePickingJournalDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceCreatePickingJournalHeaderRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_workorderid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Createdby" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceCreatePickingJournalHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceCreateMovementRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_prodid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_qty" type="xs:decimal" />
        <xs:element minOccurs="0" name="_Sticker" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_variance" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceCreateMovementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceDeletePickingDataRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceDeletePickingDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceCreateRouteJournalHeaderRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_workorderid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceCreateRouteJournalHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceCreateStickerDetailsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_planningid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_qty" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceCreateStickerDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceCreatePackingSlipRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_Routeid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_LoadingPlanNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DriverId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DriverTypeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DriverMobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DriverAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DriverName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TruckNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strSalesTable" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceCreatePackingSlipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceCreateTransferJournalLinesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_JournalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Itemid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Qty" type="xs:decimal" />
        <xs:element minOccurs="0" name="_date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_FromSite" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_FromLocation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_ToSite" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_ToLocation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_stiker" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Iace_FinishedGoodServiceCreateTransferJournalLinesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>